<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div th:insert="Navbar :: navbar"></div>

<div class="container mt-5">

    <div class="row">
        <div class="col-md-4">
            <h2>Manage <b>Cars</b></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div sec:authorize="hasRole('ADMIN')">
                <a href="/add-car" class="btn btn-link bg-primary text-white"><i class="fa fa-plus"></i> Add new car</a>
            </div>
        </div>
        <form method="post" th:action="@{/filter/cars}" th:object=" ${carFilterRequestParams}">
            <div class="row mt-10 mb-5">
                <div class="col-md-3">
                    <select class="form-control selectpicker" th:field="*{brand}" id="brand">
                        <option value="" selected disabled>Select brand</option>
                        <option th:each="brand: ${carsBrands}"
                                th:value="${brand}"
                                th:text="${brand}">

                        </option>

                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control selectpicker" th:field="*{color}" id="color">
                        <option value="" selected disabled>Select color</option>
                        <option th:each="color: ${carsColors}"
                                th:value="${color}"
                                th:text="${color}">
                        </option>

                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control selectpicker" th:field="*{year}" id="year">
                        <option value="" selected disabled>Select year</option>
                        <option th:each="year: ${carsYears}"
                                th:value="${year}"
                                th:text="${year}">

                        </option>

                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4" th:each="car: ${cars}">
                <div class="card" style="width:350px">
                    <img class="card-img-top" th:src="@{image-car/{carId}(carId=${car.id})}" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${car.brand} +' '+ ${car.model}"></h4>
                        <p class="card-text"
                           th:text="'Body type: '+${car.bodyType} +', '+ 'Color: '+${car.color} +', '+ 'Year: '+
                       ${car.year} +', '+'Mileage: '+ ${car.mileage} +', '+'Amount: '+ ${car.amount}"></p>
                        <span sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{edit/car/{carId}(carId=${car.id})}" class="btn"><i class="far fa-edit"
                                                                                             style="font-size:24px;color:green"
                                                                                             data-toggle="tooltip"
                                                                                             title="Edit car">&#xE872;</i></a>

                            <a th:href="@{/statuses/{carId}(carId=${car.id})}" class="btn"><i
                                    class="far fa-calendar-check"
                                    style="font-size:24px;color:light"
                                    data-toggle="tooltip"
                                    title="Add car status">&#xE872;</i></a>


                            <a class="btn" data-toggle="modal" data-target="#myModal"
                               th:attr="data-target='#modal-warning'+${car.id}"><i class="fas fa-trash-alt"
                                                                                   style="font-size:24px;color:red"
                                                                                   data-toggle="tooltip"
                                                                                   title="Delete car">&#xE872;</i></a>
                        </span>
                        <a th:href="@{/show/signup/{carId}(carId=${car.id})}" class="btn"><i
                                class="fas fa-clipboard-list"
                                style="font-size:24px;color:green"
                                data-toggle="tooltip"
                                title="Add reservation">&#xE872;</i></a>
                        <!-- The Modal -->
                        <div class="modal" th:id="modal-warning+${car.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Are you sure you want to delete this item?</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a th:href="@{/car/{carId}(carId=${car.id})}"
                                           class="btn btn-danger">Delete</a>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>