<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>NavigationBar</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Car rental manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/rental}">Rentals</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/branches}">Branches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cars}">Cars</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/reservations}">Reservations</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_CUSTOMER')"class="nav-item">
                        <a class="nav-link" th:href="@{/user/reservation}">Reservations</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/statistic}">Statistic</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>